@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth bg-[#0e0e10] text-gray-100;
}

*::-webkit-scrollbar {
  width: 7px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #2b114b;
}

*::-webkit-scrollbar-thumb {
  background-color: #8c3ab5;
  border-radius: 10px;
}

.container-movies {
  position: relative;
  cursor: pointer;
}

.info-movies {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px 15px;
  background-color: #331963e6;
  height: 100%;
  width: 100%;
  border-radius: 0.125rem;
  color: #fff;
  opacity: 0;
  transition: all 0.3s ease-in;
  text-align: center;
}

.container-movies img {
  transition: all 0.3s ease-in;
}

.container-movies:hover .info-movies {
  opacity: 1;
  transform: scale(1.1);
}

.container-movies:hover img {
  transform: scale(1.1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
